@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero small{
    font-size: 30px;
}
.hero h1{
    font-size: 70px;
}
.hero h1 span{
    background: linear-gradient(90deg, purple, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    margin-top: 20px;
    font-size: 18px;
}
.hero .btn{
    margin-top: 20px;
}
.hero .btn a{
    color: white;
    background: black;
    padding: 7px 10px;
    border-radius: 3px;
}
.hero .btn a:nth-child(2){
    background: transparent;
    color: black;
    text-decoration: underline;
}